body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,241,1) 35%, rgba(0,212,255,1) 100%);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,241,1) 35%, rgba(0,212,255,1) 100%);
    color: black;
}
.content {
    margin-top: 50px;
}
h1 {
    font-size: 50px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,241,1) 35%, rgba(0,212,255,1) 100%);
}
h3 {
    font-size: 24px;
    color: #666;
}
 h4{
    color: purple;
 }
.smocha {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;


}
.shelf {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}